# carla

carla/ros-bridge
carla/docker/ros2_container/ros2_ws/build/
carla/docker/ros2_container/ros2_ws/install/
carla/docker/ros2_container/ros2_ws/log/
carla/*.pyc
carla/__pycache__/


# ai

ai/self-driving/uni-ad/.env
ai/path-planning/.env
ai/path-planning/data/
ai/path-planning/__pycache__/
ai/path-planning/nvidia-alpamayo-map/
ai/garbage-detection/garbage-detection
ai/garbage-detection/__pycache__/
ai/garbage-picking/lerobot_setup/.lerobot
ai/garbage-picking/lerobot_setup/.lerobot_setup

# alpamayo
alpamayo-1.5-10b
isaacsim/_pycache__/
isaacsim/data
output
sit_dataset
output_carla

hardware/rasppi/recordings